<p cusDragdrop style="cursor:move">test-dragdrop works!</p>
<table style="width: 500px;" border="1">
    <tr>
        <th #thMonth>
            Month
            <div class="dragAnchor" cusDragdrop style="display: inline-block;background-color: chartreuse;width:20px;
                height:24px;float:right;cursor:move">
            </div>
        </th>
        
        <th #thSavings>
            Savings
            <div class="dragAnchor" cusDragdrop style="display: inline-block;background-color: chartreuse;width:20px;
                height:24px;float:right;cursor:move">
            </div>
        </th>
        <th>Name</th>
    </tr>
    <tr>
        <td>January</td>
        <td>$100</td>
        <td>Tesla</td>
    </tr>
</table>
