::ng-deep .ur-table-resizable > .ui-table-wrapper, td{
    overflow: visible !important;
}

::ng-deep .ui-table-resizable>.ui-table-wrapper {
    overflow: visible !important;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}